<link rel="stylesheet" href="{{ asset('bundles/asset/style.css') }}" />

<ul>
    <li><a href="../deathsmiles">DeathSmiles</a></li>
    <li><a href="../crimzon_clover">Crimzon_Clover</a></li>
    <li><a href="../ikaruga">Ikaruga</a></li>
    <li><a href="../yaoi">Yaoi</a></li>
</ul>

<h3>Haiku</h3>

<p>
    Thousand and one Nights<br>
    Gothic and Romanesque rose<br>
    I call to the Earth<br><br>

    The Moment has come<br>
    The Choice is no longer mine<br>
    By goodness and Love
</p>