<link rel="stylesheet" href="{{ asset('bundles/asset/style.css') }}" />

<ul>
    <li><a href="../mushihimesama">Mushihimesama</a></li>
    <li><a href="../deathsmiles">Death Smiles</a></li>
    <li><a href="../ikaruga">Ikaruga</a></li>
    <li><a href="../crimzon_clover">Crimzon_clover</a></li>
</ul>

<img src="https://s-media-cache-ak0.pinimg.com/736x/7e/ec/e7/7eece765aaa6182c2ac83cbdee8fbe77.jpg">

<p>Love's only weakness<br>
    Is also its greatest strength:<br>
    It defies reason<br>
</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/lzxGbHU2zz8" frameborder="0" allowfullscreen></iframe>